.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #999;
    padding: 15px 20px;
    color: #929DC2;
    font-family: "Monofonto" ;
}
#id{
    display: inline-block;
    vertical-align: top;
}

.header h1{
    display: inline-block;
    vertical-align: top;
    margin:6px 0 6px 10px;
    font-weight: 700;
    color: #929DC2;
    font-size: 20px;
    line-height: 1;
}

.header button + button {
    margin-left:10px
}

.header .welcome{
    margin-right: 10;
    color: #929DC2;
}